*{
	font-size:12px;
	font-family:Arial;
	color:#000;
}
html {
	scrollbar-base-color: 		#aaaaaa;
	scrollbar-arrow-color:		#2c2c2c;
	height:100%;
	margin-bottom:-217px;
}

img {
	border:						none;
}

#clear {
	clear:						both;
	font-size:					0px;
	height:						10px;
	line-height:				0px;
	margin-bottom:				5px;
	margin-top:					5px;
}

.onlyclear {
	clear:						both;
}

p {
	color:						#000;
	font-size:					12px;
	line-height: 				14px;
	margin-top:					0px;
}

span {
	color:						#9d9d9d;
	font-size:					11px;
}

a {
	color:						#000;
	font-size:					12px;
	text-decoration:			none;
}

a:hover {
	text-decoration:			none;
	color:						#444;
}

body,html {
	margin:						0px;
	background-color:			#808080;
	background-image:			url('/images/header_bg.jpg');
	background-repeat:			repeat-x;
	z-index:1;
}

#wrapper {
	position:absolute;
	margin-left:-425px;
	left:50%;
	top:191px;
	width:						850px;
	background-color:			#fff;
	padding-top:25px;
}

#logo {
	position:absolute;
	top:0px;
	left:50%;
	width:850px;
	height:240px;
	margin-top:-191px;
	margin-left:-425px;
	background-image:url('/images/header_logo.jpg');
	background-repeat:no-repeat;
}

#adres {
	margin-left:30px;
	font:"Blippo Light SF";
	font-size:14px;
	padding-top:25px;
	visibility:hidden;

}
#column {
	float:left;
	top:260px;
	width:170px;
	height:270px;
	margin-left:30px;
	border:#9d9d9d 0px solid;
}

#occasions {
	float:left;
	top:250px;
	width:170px;
	margin-left:25px;
	border:#9d9d9d 0px solid;
}

#bedrijfsfoto, #bedrijfstekst, #tekst {
	float:left;
	font:"Arial";
	font-size:12px;
	border:#000 0px solid;
	margin-left:30px;
	margin-right:25px;
	width:375px;
}

.iframe {
	border:#9d9d9d 4px solid;
}

.columnheader, h3 {
	margin-bottom:				5px;
	font-family:				"Arial";
	color:						#5d8a2a;
	text-transform:				uppercase;
	font-size:					16px;
	font-weight:				bold;
	display:					block;
	text-align:center;

}

.wrap {
	padding:10px;
	margin-left:-5px;
}

.columnimage {
	border:#9d9d9d 4px solid;
}

a.back {
	background-color:#AAA;
	color:#000;
	font-size:16px;
	font-family:"Arial";
	padding:3px;
	margin-left:5px;
	font-weight:bold;
}

a.back:hover {
	background-color:#FFF;
	color:#8BBC25;
	font-size:16px;
	font-family:"Arial";
	padding:3px;
	margin-left:5px;
}

#footer {
	height:						79px;
	width:						850px;
	left:						50%;
	margin-left:				-425px;
	margin:						0 0 0 0px;
	text-align:					center;
	font-family: "Arial";
	font-size:12px;
	font-weight:bold;
	background-image:			url('/images/footer_bg.jpg');
	background-repeat:			repeat-x;
	background-color:			#808080;
	z-index:0;
}
#footer_foto {
	margin-bottom:0px;
	width:370px;
	height:266px;
	margin-top:-258px;
	margin-left:20px;
}

#header_foto {
	position:absolute;
	visibility:hidden;
	top:0px;
	left:50%;
	width:328px;
	height:284px;
	margin-top:-191px;
	margin-left:52px;
}

#trekkertrekker {
	position:absolute;
	left:50%;
	margin-left:-390px;
	margin-top:-25px;
}
#knoppen {
	width:850px;
}
#knopS {

	float:left;
	margin-right:25px;
	border:0px;
	width:120px;
	height:120px;
}

#knopL {

	float:left;
	margin-right:15px;
	border:0px;
	width:175px;
	height:175px;
}