body { 
  background-image: url(achtergrond2.jpg); 
	text-align: center; 
	font-family: verdana, sans-serif;
}

#top { 
  width: 900px; 
	height: 60px; 
	margin: 16px auto 0 auto; 
	padding: 0; 
	border-left: 6px solid steelblue; 
	border-top: 6px solid steelblue; 
	border-right: 6px solid steelblue; 
	background-color: lightblue; 
}			 

#kop { 
  width: 100%; 
	height: 145px; 
	background-color: steelblue;
}	

#koptekst { 
  width: 900px;
	height: 145px;
	margin: 0 auto 0 auto;
	font-size: 30pt; 
	text-align: center;
	color: midnightblue;
	border-left: 6px solid lightblue; 
	border-right: 6px solid lightblue; 
	background-image: url(logo2.jpg); 
	background-repeat: no-repeat; 
	background-position: left;
}

#hoofdvak { 
  width: 900px; 
	margin: 0 auto 0 auto; 
	padding: 0; 
	border-left: 6px solid steelblue; 
	border-bottom: 6px solid steelblue; 
	border-right: 6px solid steelblue; 
	background-color: lightblue; 
}

h1 { 
  color: midnightblue; 
	font-size: 12pt; 
	font-weight: bold; 
	text-align: left; 
	margin: 0; 
	padding: 28px 16px 6px 28px;
}

h2 { 
  color: midnightblue; 
	font-size: 10pt;
	font-weight: bold; 
	text-align: left; 
	padding: 12px 16px 0 28px;
}

p { 
  color: black; 
  font-size: 10pt; 
	line-height: 140%; 
	text-align: left; 
	padding: 6px 16px 6px 28px; 
}

#menu {  
	text-align: right;
 	font-size: 10pt;
	padding-top: 36px;
	border-right: 0;
	padding-right: 17px;
}

#menu ul { 
	list-style-type: none;
  margin: 0; 
  padding: 0;
}

#menu ul li { 
  display: inline; 
}

#menu ul li a {  
  padding: 8px; 
	margin: 0; 	
  font-size: 1em;
	color: midnightblue;
	text-decoration: none;
	text-align: center; 
}

#menu ul li a:hover {  
	font: 1em verdana, serif;
	color: maroon;
	font-weight: bold;	
	text-decoration: none;
}

#voet { 
  clear: both; 
  width: 725px; 
 	font-size: 8pt; 
	color: blue; 
	text-align: left; 
	margin: 0 auto 0 auto; 
	padding: 10px 0 0 0;
}

#voet a { 
 text-decoration: none;
 color: orange;
}