body{
	margin: 0;
	padding: 0;
	font-family: helvetica;
	background: url(img/background.jpg); 
}

/*
color:		orange		#ed6e1a		rgba(237,110,26,1)
color:		blue		#141b38		rgba(20,27,56,1)
textcolor:	blue		#141b38		rgba(75,79,96,1)
color:		grey		#ebebeb		rgba(235,235,235,1)
*/

/*
	transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
*/

a, img {
    border:none;
    outline:none
}


#pagina{
	max-width: 1400px;
	margin: 0 auto;
}

#pagina2{
	max-width: 1400px;
	margin: 0 auto;
}

#white{
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#maxw1{
	max-width: 1256px;
	margin: 0 auto;
}

#maxw2{
	max-width: 1180px;
	margin: 0 auto;
}

#maxw3{
	max-width: 1070px;
	margin: 0 auto;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
} 

p{
	margin: 1.12em 0;
	line-height: 160%;
}

img{max-width: 100%;}


p ol,
p ul{
	margin: 1.12em 0;
	line-height: 160%;
	color: #565656;
	font-size: 14px;
	font-weight: 400;
}

p ol li,
p ul li{
	margin-left: 10px;
}

p ol li:before,
p ul li:before{
	content: "-";
	margin-left: -10px;
	height: inherit!important;
	position: absolute;
}

.transition{
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}

.knop{
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}

.knop:hover{
	opacity: 0.8;
}

.clearfix:after {
   content: "\00a0"; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.orange{color: #F2570F!important}


/*******************
HEADER
*******************/

#header{
	
}

#pagina #header #logo, #pagina2 #header #logo{
	height: 150px;
	margin: 35px 0;
	max-width: none;
}

#header #logo{
	height: 130px;
	width: auto;
	float: left;
	margin: 45px 0;
}

#right_header{
	float: right;
}

#welkomvak{float: right;}

#welkomvak p{
	float:left;
	font-size: 14px;
	margin: 0!important;
	line-height: 150%!important;
	padding: 45px 15px 0 0 ;
	color: #4D4D4D;
}

#welkomvak img{
	height: 50px;
	float: right;
	margin-top: 40px;
}

.dealer_knop{
	position: relative;
	float: right;
    color: #ffffff;
    background-color: #F2570F;
    border-bottom: 3px solid #e63e00;
    padding: 10px 0 10px 30px;
	margin-top: 22px;
	font-family: aachen;
	font-size: 22px;
}

.dealer_knop .fa{
	float: right;
	padding: 0 18px 0 30px;
}

.dealer_knop img{
	position: absolute;
	bottom: -65px;
    left: -106px;
	width: 116px
}

.zzp_knop{
	float: left;
    background-color: #FEBC2A;
    border-bottom: 3px solid #D19614;
    color: #fff;
	margin-top: 22px;
	padding: 10px 0 10px 30px;
	font-family: aachen;
	font-size: 22px;
	margin-right: 130px;
}

.zzp_knop:hover{background-color: #909090;}

.dealer_knop:hover{background-color: #000000;}

.zzp_knop .fa{
	float: right;
	padding: 0 18px 0 30px;
}

.buttonclear{display: none;}

/*******************
SLIDER
*******************/

#slider{position: relative; font-size: 0;}

#pagina2 #contenslider{

}

#contenslider{
	position: absolute;
	text-align: center;
	top: 94px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#firstrow{
	font-size: 54px;
	font-family: aachen;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 18px;
	line-height: 100%;
	background-color: rgba(251, 89, 29, 0.6);
	display: inline-block;
}

#pagina2 #secondrow{display: none;}

#secondrow{
	display: inline-block;
    color: #ffffff;
    background-color: #F2570F;
    border-bottom: 3px solid #e63e00;
    padding: 10px 25px;
	font-family: aachen;
	font-size: 22px;
}

#secondrow:hover{background-color: #e63e00;}

/*******************
CONTENT
*******************/

#content{
	padding: 65px 0 0;
}

#kop{
	text-align: center;
	font-family: aachen;
	font-weight: 400;
	font-size: 28px;
	color: #000;
	text-transform: uppercase;
}

#contenttekst{
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
}

/*******************
GALLERIJ
*******************/

#fotogallerij{
	margin: 0 -0.5% 20px;
	width: 101%!important
}

.gallerij li{
	font-size: 0;
	margin: 0.5%;
	overflow:hidden;
}

.gallerij li a{
	height: 305px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}

.gallerij li.bit-5{
	width: 19%!important
}

.gallerij li.bit-40{
	width: 39%!important
}




/*******************
GEGEVENSBLOK
*******************/

#gegevensblok{
	background-color: #F9F9F9;
	padding: 45px 0 55px;
	position: relative;
}

#gegevensblok a{
	color: black;
}

#gegevensblok a .fa{
	margin-right: 10px;
}


#pagina2 #gegevensblok #kop{
	text-transform: none;
}

#gegevensblok #contenttekst{
	text-align: left;
}

#info_links{
	width: 63%!important;
	padding-right: 30px;
}

#info_rechts{
	padding-left: 40px;
	padding-right: 70px;
	width: 37%!important;
	text-align: center;
}

#info_rechts #kop{
	text-transform: none;
}

#info_rechts_content{
	font-size: 14px;
}

#pagina2 .persoon{
	width: 180px!important
}

.persoon{
	position: absolute;
	bottom: 0;
	right: 150px;
	max-height: 410px;
	
}

/*******************
FOOTER
*******************/

#footer{
	background-color: #F2570F;
	margin-top: 20px;
	padding: 40px 0;
	color: #fff!important;
}

#footer a{
	color: #fff;
}

#footer #kop{
	text-align: left;
	color: #fff!important;
	font-size: 24px;
	margin-bottom: 10px;
	display: inline-block;
}

#blok1{
	width: 30%;
	float: left;
}

#blok1 ul{
	margin-top: 20px;
}

#blok1 li{
	margin: 15px 0;
	font-size: 15px;
}

#blok2{
	float: left;
	width: 35%;
	font-size: 15px;
}

#blok3{
	float: right;
	width: 25%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	background: white;
}

#bottomfooter{
	text-align: center;
	font-size: 18px;
	font-family: aachen;
	padding: 20px 0;
}

#bottomfooter div{
	display: inline-block;
}

#bottomfooter img{
	float: left;
	margin-top: -8px;
	margin-right: 15px;
}



/*******************
PAGINA2
*******************/
.line_kop{
	background-color: #fff;
	padding: 0 25px;
	margin-top: 40px;
}

.line{
	display: block;
	content: "\00a0";
    width: 60%;
    height: 1px;
	margin: 0 auto -13px auto;
    background-color: #eaeaea;
    z-index: 10;
}

#products{
	width: 101%!important;
	margin: 50px -0.5% 80px;;
}

#products .product{
	margin: 0.5%;
	width: 19%!important
}

#products .product a{
	position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

#products .product .product-price{
	display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
}

#products .product .product-price p{
	font-size: 15px;
    line-height: 14px;
    padding-top: 18px;
	margin: 0;
}

#products .product .product-price p strong{
	font-weight: 800;
    font-size: 28px;
    line-height: 28px;
}

#products .product .product-image img{
	display: block;
    width: 100%;
    height: auto;
}

#products .product .product-title{
	display: block;
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
    line-height: 26px;
    font-family: Aachen;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 31px;
}

#products .product .product-button{
	display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -22px;
}

#products .product .product-button p{
	display: block;
    margin: 0 25px;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    background-color: #F2570F;
    border-bottom: 3px solid #e63e00;
    padding: 7px 0;
}

#products .product .product-button p:hover{
	background-color: #e63e00;
}

#products .product .product-button p i{
	margin-right: 3px;
}

/*******************
MEDIAQUERIES
*******************/

@media screen and (max-width: 1300px){
	#maxw1{padding: 0 2%;}
	#maxw2{padding: 0 2%;}
	#maxw3{padding: 0 2%;}
}


@media screen and (max-width: 1200px){
	.buttonclear{display: block;}
	
	#welkomvak{display: none;}
	.zzp_knop{margin: 135px 0 0 0; float: right;}
	.dealer_knop{margin:-105px 0 0 0; float: right;}
	
	.persoon{right: 120px;}
}

@media screen and (max-width: 1100px){
	#products .product{width: 24%!important; margin: 0 0.5% 9%;}
	
	#products{margin-bottom: 00px!important}
}

@media screen and (max-width: 950px){
	#slider{margin-bottom: 45px;}
	#contenslider{top: auto; bottom: -45px;}
	#firstrow{display: none;}
	#secondrow{width: 100%; text-align: center;}
	
	.gallerij li.bit-5{width: 32.3333%!important;}
	.gallerij li.bit-40{width: 32.3333%!important;}
	
	.persoon{right: 60px;}
	#info_rechts{padding-right: 0px; padding-left: 20px;}
}

@media screen and (max-width: 850px){
	.dealer_knop img{display: none;}
	#products .product{width: 32.333333%!important; margin: 0 0.5% 10%;}
}

@media screen and (max-width: 750px){
	.logo{width: 100%; float: left; text-align: center;}
	#pagina2 #header #logo{float: none; margin: 25px 0; width: 30%; height: auto;}
	#header #logo{float: none; margin: 25px 0; width: 60%; height: auto;}
	
	#right_header{float: left; width: 100%;}
	.zzp_knop{margin: 20px 0; float: left;}
	.dealer_knop{margin: 20px 0; float: right;}
	.buttonclear{display: none;}
	
	#info_links{width: 100%!important; padding: 0;}
	.persoon{display: none;}
	#info_rechts{width: 100%!important; padding: 0; }
	#gegevensblok{padding-bottom: 35px;}
	
	#blok1{width: 40%!important;}
	#blok2{width: 60%!important}
	#blok3{display: none;}
}

@media screen and (max-width: 700px){
	.zzp_knop{width: 100%; margin: 20px 0 0 0;}
	.dealer_knop{width: 100%; margin: 20px 0 ;}
	.dealer_knop .fa{padding-left: 0;}
	.zzp_knop .fa{padding-left: 0;}
	
	#slider{margin-bottom: 30px;}
	#contenslider{bottom: -41px;}
	#secondrow{font-size: 18px;}
	
	.gallerij li.bit-5{width: 49%!important;}
	.gallerij li.bit-40{width: 49%!important;}
	
	#products .product{width: 49%!important; margin: 0 0.5% 14%;}
}

@media screen and (max-width: 550px){
	#pagina2 #header #logo{float: none; margin: 25px 0; width: 60%; height: auto;}
	#header #logo{float: none; margin: 25px 0; width: 80%; height: auto;}
	.zzp_knop{width: 100%; margin: 20px 0 0 0; font-size: 18px;}
	.dealer_knop{width: 100%; margin: 20px 0 ; font-size: 18px;}
	
	#blok1{width: 100%!important;}
	#blok2{width: 100%!important; margin-top: 30px;}
	
	.gallerij li a{height: 200px;}
	
	#products .product{width: 90%!important; margin: 0 5% 20%;}
}


@media screen and (max-width: 350px){
	#bottomfooter img{display: none;}
}
